<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container justify-content-md-center">
        <div class="row">
            <header class="col-12 text-center">

                <h2>
                    Logo
                </h2>
                <h2>
                    navigation
                </h2>
            </header>
        </div>
        <div class="row justify-content-center mb-4">
            <form action="#">
                <div class="row mb-2">
                    <div class="col-12 text-center">
                        <label for="city-input"> Which City Do You Want To Travel For?</label>
                    </div>
                    <div class="input-group mb-3 mx-3 row">
                        <div class="input-group-prepend col-12 col-sm-6 px-3 px-sm-0">
                            <select class="custom-select" id="countries-list">
                                <option selected value=-1>Choose Country...</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6 px-3 px-sm-0">
                            <input type="text" id="city-input" placeholder="Enter the City" name="city"
                                class="form-control" aria-label="Text input with dropdown button" required>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 text-center">
                        <label for="date-input"> Please Choose Your Travel Date</label>
                    </div>
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Travel Date</span>
                            </div>
                            <input type="date" id="date-input" name="date" class="form-control" aria-label="Default"
                                aria-describedby="inputGroup-sizing-default" required>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <input type="submit" value="Get The Data" class="btn btn-outline-primary btn-block btn-large">
                </div>
            </form>
        </div>

        <section id="travel-cards">
            <h2 class="text-center"> Your Travel Cards </h2>
            <div id="cards-container" class="row justify-content-around">
                <!--The Travel Cards Will Go here-->
            </div>
        </section>
    </div>
    <!-- JS for bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>